{% extends "base.html" %}

{% block content %}

    <div class="content-wrapper" style="min-height: 700px">
        <div class="container">
            <div class="row pad-botm">
                <div class="row pad-botm">
                    <div class="col-md-12">
                        <h4 class="header-line">Asset Detail</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-success">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td>asset_type </td>
                                                <td>{{ asset_obj.asset_type }}</td>
                                            </tr>
                                            <tr>
                                                <td>asset_name</td>
                                                <td>{{ asset_obj.name }}</td>
                                            </tr>
                                            <tr>
                                                <td>sub_asset_type</td>
                                                <td>{{ server_obj.get_sub_asset_type_display }}</td>
                                            </tr>
                                            <tr>
                                                <td>cpu_model</td>
                                                <td>{{ cpu_obj.cpu_model }}</td>
                                            </tr>
                                            <tr>
                                                <td>ram</td>
                                                <td>{{ ram_obj.capacity }}MB</td>
                                            </tr>
                                            <tr>
                                                <td>disk</td>
                                                <td>{{ disk_obj.capacity }}GB</td>
                                            </tr>
                                            <tr>
                                                <td>nic</td>
                                                <td>{{ nic_obj.ip_address }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block js %}

{% endblock %}