{% extends "base.html" %}

{% block content %}

    <div class="content-wrapper" style="min-height: 700px">
        <div class="container">
            <div class="row pad-botm">
                <div class="row pad-botm">
                    <div class="col-md-12">
                        <h4 class="header-line">Asset List</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-success">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Type</th>
                                            <th>Name</th>
                                            <th>manufacturer</th>
                                            <th>owner</th>
                                            <th>Operation.</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for asset in assets %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td style="display: none">{{ asset.id }}</td>
                                                <td>{{ asset.asset_type }}</td>
                                                <td>{{ asset.name }}</td>
                                                <td>{{ asset.manufacturer }}</td>
                                                <td>{{ asset.owner }}</td>
                                                <td class="col-md-2">
                                                    <a href="{% url "asset_detail" asset.id %}" class="btn btn-default"><i
                                                            class=" fa fa-refresh "></i>View Detail</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block js %}

{% endblock %}